/* You can add global styles to this file, and also import other style files */

/* Fancy Button */

.fancy-button {
  background-color: rgb(185, 31, 31);
  color: #9bd219;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #1976d2;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
